<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Додати автомобіль</title>
    <link rel="stylesheet" type="text/css" href="/add.css"> <!-- Зверніть увагу на шлях -->
</head>
<body>
<h1>Додати новий автомобіль</h1>
<form action="#" th:action="@{/cars/add-car}" th:object="${car}" method="post">
    <div class="container">
    <label for="brand">Марка:</label>
    <input type="text" id="brand" th:field="*{make}" required>

    <label for="model">Модель:</label>
    <input type="text" id="model" th:field="*{model}" required>

    <label for="year">Рік випуску:</label>
    <input type="number" id="year" th:field="*{year}" required>

    <label for="fuelType">Тип пального:</label>
    <input type="text" id="fuelType" th:field="*{fuel_type}" required>

    <label for="licensePlate">Номерний знак:</label>
    <input type="text" id="licensePlate" th:field="*{license_plate}" required>

    <label for="passengerCapacity">Кількість пасажирів:</label>
    <input type="number" id="passengerCapacity" th:field="*{passenger_Capacity}" required>

        <label for="bodytype">Тіло:</label>
        <input type="text" id="bodytype" th:field="*{body_type}" required>

        <label for="color">Колір:</label>
    <input type="text" id="color" th:field="*{color}" required>

      >
    <button type="submit">Додати автомобіль</button>
    </div>
</form>
<a href="/cars" >Назад до списку автомобілів</a>
</body>
</html>
