<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Client List</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Client List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Password</th>
    <th>Actions</th>
  </tr>
  <tr th:each="client : ${clients}">
    <td th:text="${client.id}"></td>
    <td th:text="${client.full_name}"></td>
    <td th:text="${client.phone_number}"></td>
    <td th:text="${client.password}"></td>
    <td>
      <a th:href="@{|/clients/delete/${client.id}|}">Delete</a>
    </td>
  </tr>
</table>
<a th:href="@{/clients/add}">Add New Client</a>
<a href="/cars">Return to cars</a>
<a href="/drivers">Назад до списку водіїв</a>
</body>
</html>
